body{
    height: 700px;
    background-color: #840718;
    background-image: url(../images/background.jpg);
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0; margin: 0;
}

html{
    height: 700px;

}

.p5Canvas{
    cursor: url(../images/gloves.png), auto;
    display: block;
    margin: 20px auto;
}
#game{
    position: relative;
    width: 833px;
    margin: 0 auto;
    padding-bottom: 60px;
    margin-bottom: 30px;
    background-color: black;
    border-radius: 20px;
}
#logo{
    display: block;
    margin: 30px auto;
}
#parent{

}
#btnControls{
    height: 60px;
    position: absolute;
    bottom: 10px;
    right:10px;
}
.credits{
    height: 60px;
    position: absolute;
    bottom: 10px;
    left:10px;
}


.stars-left{
    height: 30px;
    left: -40px;
    position:absolute;
}
.stars-right{
    height: 30px;
    right: -40px;
    position:absolute;
}
#childScoreAbs{
    position:relative;
}

#divScore{
    position: absolute;
    bottom: 25px;
    left: 50%;
    height:60px;
    transform: translate(-50%,0);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#idPuntuation{


    color: white;
    font-size: 30px;
}